@-webkit-keyframes animateCircle {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes animateCircle {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes animate {
  0% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  100% {
    -webkit-transform: rotate(405deg);
    transform: rotate(405deg); } }

@keyframes animate {
  0% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  100% {
    -webkit-transform: rotate(405deg);
    transform: rotate(405deg); } }

@-webkit-keyframes fadeout {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    visibility: hidden; } }

@keyframes fadeout {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    visibility: hidden; } }

.loadingBar {
  height: 100vh;
  width: 100vw;
  background: #262626;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  z-index: 99; }

.loadingBar.hidden {
  -webkit-animation: fadeout 3s;
  animation: fadeout 3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.ring {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 300px;
  height: 300px;
  background: transparent;
  border: 3px solid #808080;
  border-radius: 50%;
  text-align: center;
  font-size: 2.5em;
  color: #74C2E1;
  text-transform: uppercase;
  text-shadow: 0 0 10px #74C2E1;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); }

.ring:before {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-top: 3px solid #74C2E1;
  border-right: 3px solid #74C2E1;
  border-radius: 50%;
  -webkit-animation: animateCircle 2s linear infinite;
  animation: animateCircle 2s linear infinite; }

#loaderSpan {
  display: block;
  position: absolute;
  top: cacl(50% -2px);
  left: 50%;
  width: 50%;
  height: 4px;
  background: transparent;
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
  -webkit-animation: animate 2s linear infinite;
  animation: animate 2s linear infinite; }

#loaderSpan:before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #74C2E1;
  top: -6px;
  right: -8px;
  -webkit-box-shadow: 0 0 20px #74C2E1;
  box-shadow: 0 0 20px #74C2E1; }

html {
  height: 100%;
  width: 100vw; }

body {
  margin: 0;
  font-family: "Courier New", Courier, Arial, Helvetica, sans-serif;
  background: #f4f4f4;
  color: #262626;
  font-size: 1.2em;
  line-height: 1.5;
  height: 100%;
  width: 100%; }

.sceneContainer {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.pagewrapper {
  height: 100%;
  width: 100vw; }

#webSlideCaption {
  color: navy; }

.jumbotron {
  background-color: #262626 !important;
  color: #f4f4f4 !important;
  margin-bottom: 100px !important; }

.jumboHeading {
  font-size: 3.5em; }

.jumboPara {
  font-size: 1.5rem;
  margin-bottom: 60px; }

.sectionHeading {
  font-size: 2.5rem;
  margin-bottom: 50px; }

#servicesSection {
  margin-bottom: 80px; }

#pricingSection {
  margin-bottom: 60px; }

footer {
  text-align: center;
  background: #262626;
  color: #f4f4f4;
  padding: 20px 0 20px 0; }

@media (max-width: 500px) {
  .loadingBar {
    visibility: hidden; } }
